<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a post</title>
</head>
<body>
    <h1> Edit your post!</h1>
    <form method = 'POST' action = '/posts/{{post.id}}/edit'>
        <div class = 'container'>
            <label for ='title'> Title</label>
            <div>
                <input name = 'title' value = '{{post.title}}'>
            </div>
        </div>

        <div class = 'container'>
            <label for = 'content'> New content</label>
            <div>
                <input name = 'content' id = 'content'>
            </div>
        </div>
        
        <div class = 'container'>
            <div>
                <a href ='/users/{{post.user_id}}'> Cancel</a>
                <button type = 'submit' class = 'btn btn-success'> Edit the post</button>
            </div>
            
        </div>
    </form>
</body>
</html>